*,
*:after,
*:before {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;

}

body {
  background-image: linear-gradient(to right, #1e90ff, #ffa502);
}

.navi {
  padding-left: 100px;
  padding-top: 100px;
}

.router-url li {
  text-decoration: none;
  list-style-type: none;
  text-align: left;
}
